<div class="container-signup mt-5">

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>
  <%= f.error_notification %>

  <h2>Sign Up</h2>

  <!-- Inputs du formulaire -->
  <div class="form-inputs">
    <%= f.input :first_name,
                required: true,
                autofocus: true,
                input_html: { class: "form--input", placeholder: "First Name", autocomplete: "first_name" } %>

    <%= f.input :last_name,
                required: true,
                autofocus: true,
                input_html: { class: "form--input", placeholder: "Last Name", autocomplete: "last_name" } %>

    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { class: "form--input", placeholder: "Email address", autocomplete: "email" } %>

    <%= f.input :phone_number,
                required: true,
                input_html: { class: "form--input", placeholder: "Phone Number", autocomplete: "phone_number" } %>

    <%= f.input :password,
                required: true,
                hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                input_html: { class: "form--input", placeholder: "Password", autocomplete: "new-password" } %>

    <%= f.input :password_confirmation,
                required: true,
                input_html: { class: "form--input", placeholder: "Confirm Password", autocomplete: "new-password" } %>

    <%= f.input :photo,
                required: true,
                input_html: { class: "form--input" } %>
  </div>

  <!-- Actions -->
  <div class="form-actions">
    <%= f.button :submit, "Sign Up", class: "form--submit" %>
  </div>
<% end %>
</div>
