<%= form_with model: @event, local: true do |form| %>
  <%# Section pour les informations générales de l'événement %>
  <div class="form-group">
    <%= form.label :name, "Nom de l'événement" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :description, "Description" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :address, "Adresse" %>
    <%= form.text_field :address, class: "form-control" %>
  </div>

  <div>
    <h2>Choisir une date: </h2>
     <label>
      <%= form.radio_button :date_option, "fixed" %>
      Date fixe
    </label>
    <div>
      <input type="date" name="fixed_date" data-controller="datepicker-fixed" data-datepicker-target="fixed">
    </div>

    <label>
      <%= form.radio_button :date_option, "flexible" %>
      Créer un sondage
    </label>

    <div>
        <%= form.label :event_dates, "Sélectionnez les dates sur lesquelles voter" %>
        <input type="date" name="event_dates[proposed_dates]" data-controller="datepicker" data-datepicker-target="proposed">
    </div>
  </div>


  <div data-controller="participation">
    <div class="form-group">
      <%= form.label :ask_for_participation, "Voulez-vous créer une cagnotte ?" %>
      <%= form.check_box :ask_for_participation, data: { participation_target: "checkbox", action: "change->participation#toggleAmountField" } %>
    </div>


    <div class="form-group" data-participation-target="amountField" style="display: none;">
      <%= form.label :amount_per_person, "Montant demandé par personne (€)" %>
      <%= form.number_field :amount_per_person, class: "form-control", min: 1, step: 0.01 %>
    </div>

    <div class="form-group" data-participation-target="listField">
      <%= form.label :item, "Qu'apportez-vous à la soirée ?" %>
      <input type="text" name="item[content]" value="">
    </div>
  </div>


  <%= form.submit "Créer l'événement", class: "btn btn-primary" %>
<% end %>
