<div class="container-index pb-4">
  <div class="d-grid gap-2 col-4 mx-auto rounded-pill link p-4" >
    <%= link_to 'Créer un évènement', new_event_path, class: "btn-invitation" %>
  </div>

  
  <h2 class="text-center p-3" >🎉 Soirées à venir 🎉</h2>
  <% if @events.any? %>
    <div class="card-container" >
      <% @events.each do |event| %>
       <%= link_to event_path(event) do %>
          <div class="card">
            <div class="card-image">
              <% if event.image&.attached? %>
                <%= cl_image_tag event.imag.key, class: "card-image" %>
              <% else %>
                  <img src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="avatar-par-défaut" class="card-image" >
              <% end %>
            </div>
            <p class="card-title"><%= event.name %></p>
            <p class="card-body">
              <%= event.description %>
            </p>
            <p class="footer">Date de l'évènement: <span class="by-name"><%= %></span></p>
          </div>
          <% end %>
      <% end %>
    </div>
  <% else %>
    <p class="text-center" >Aucun événement pour le moment.</p>
  <% end %>
</div>

