<h1>Liste des événements</h1>
<hr>
<%= link_to 'Créer un nouvel événement', new_event_path, class: 'btn btn-primary' %>
<hr>

<h2>Evènements à venir</h2>
<% if @events.any? %>
  <% @events.each do |event| %>
    <div class="card-product">
      <%# <img src="" /> %>
      <div class="card-product-infos">
        <h3><%= link_to event.name, event_path(event) %></h3>
        <p>Créé par : <%= event.user.first_name %></p>
         <% if event.event_registered_users.exists?(user: current_user) %>
          <p>Statut d'invitation : <%= event.event_registered_users.find_by(user: current_user).status %></p>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <p>Aucun événement pour le moment.</p>
<% end %>


<%# <h2>Evènements passés</h2>
<% if @past_events.any? %>
  <%# <% @past_events.each do |event| %> %>
    <%# <div class="card-product"> %>
      <%# <img src="" /> %>
      <%# <div class="card-product-infos"> %>
        <%# <h2><%= link_to event.name, event_path(event) %></h2>
        <%# <p>Date : <%= event.date_fixed_strftime("%d%m%Y") %></p> %>
        <%# <p>Créé par : <%= event.user.first_name %></p> %> %>
      <%# </div> %>
    <%# </div> %>
  <%# <% end %> %>
<%# <% else %> %>
  <p>Aucun événement pour le moment.</p>
<%# <% end %> %> %>
