
<div class="container">
<h1><%= @event.name %></h1>
  <p>Lieu : <%= @event.address %></p>
<%=link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary'%>
<%= link_to 'Supprimer', event_path(@event), method: :delete, data: { confirm: 'Etes vous sûr ?'}, class: 'btn btn-danger'%>
<%= link_to 'Retour à la liste', events_path, class: 'btn btn-primary' %>

<% if @event.album.present? %>
  <h2>Album de l'évènement</h2>
  <%= link_to "Voir l'Album", event_album_path(@event), class: 'btn btn-primary' %>
<% else %>
  <p>Aucun album n'a été créé pour cet évènement.</p>
  <%= link_to "Créer un album", new_event_album_path(@event), class: 'btn btn-primary' %>
<% end %>

</div>
