<div class="container">
  <h1><%= @event.name %></h1>
  <p>Lieu : <%= @event.address %></p>
  <p>Description : <%= @event.description %></p>

  <% if policy(@event).edit? %>
    <%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Supprimer', event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Etes vous sûr ?' }, class: 'btn btn-danger' if policy(@event).destroy? %>
  <%= link_to 'Retour à la liste', events_path, class: 'btn btn-primary' %>

  <% if @event.album.present? %>
    <h2>Album de l'évènement</h2>
    <%= link_to "Voir l'Album", event_album_path(@event, @event.album), class: 'btn btn-primary' %>
  <% else %>
    <p>Aucun album n'a été créé pour cet évènement.</p>
    <%= link_to "Créer un album", new_event_album_path(@event), class: 'btn btn-primary' %>
  <% end %>

  <% if @event.jackpot %>
    <h2>Cagnotte</h2>
    <p><strong>Montant demandé par personne :</strong> <%= @event.jackpot.amount_per_person %> €</p>
    <p><strong>Total attendu :</strong> <%= @event.jackpot.amount_per_person * @event.jackpot.total_invitees %> €</p>
    <p><strong>Montant collecté :</strong> <%= @event.jackpot.total %> €</p>
    <p><%= link_to 'Voir les participants', event_jackpot_path(@event, @event.jackpot), class: "btn btn-primary" %></p>

    <% if @event.jackpot %>
      <p>
        <%= link_to "Tu as payé ?", monney_creation_path(@event.jackpot),
                    data: { turbo_method: :post, turbo_confirm: "Envoie la preuve ! Mito" },
                    class: 'btn btn-primary',
                    disabled: true %>
      </p>
    <% end %>
  <% end %>

  <h2>Votre liste de courses</h2>
    <%= turbo_frame_tag "items_frame" do %>
      <% if @event.items.present? %>
        <%= render partial: "items/list", locals: { items: @event.items } %>
      <% else %>
        <p>L'organisateur se charge des courses, bande de fainéant 🦥</p>
        <%= turbo_frame_tag "item_form" do %>
          <%= link_to "Créer une liste", new_event_item_path(@event), 
                      class: "btn btn-primary", 
                      data: { turbo_frame: "item_form" } %>
        <% end %>
      <% end %>
    <% end %>
</div>
