<div class="container">
  <img src="" alt="">
  <h1><%= @event.name %></h1>
  <p>Lieu : <%= @event.address %></p>
  <p>Description : <%= @event.description %></p>

  <% if @event.event_dates.empty? %>
    <p>Date : <%= @event.date_fixed %></p>
  <% else %>
    <p>Votez pour la date qui vous convient </p>
    <ul>
      <% @event.event_dates.each do |date| %>
        <li><%= date.proposed_date %></li>
      <% end %>
    </ul>
  <% end %>

  <% if policy(@event).edit? %>
    <%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary' %>
  <% end %>

  <%= link_to 'Supprimer', event_path(@event), data: { turbo_method: :delete, turbo_confirm: 'Etes vous sûr ?' }, class: 'btn btn-danger' if policy(@event).destroy? %>
  <%= link_to 'Retour à la liste', events_path, class: 'btn btn-primary' %>
  <%= link_to "Dupliquer l'événement", duplicate_index_path(@event), class: "btn btn-secondary", data: { confirm: "Êtes-vous sûr de vouloir dupliquer cet événement ?" } %>

  <h2>Envoyer une invitation par SMS</h2>
  <%= form_with url: event_invitations_path(@event), method: :post, local: true do |f| %>
    <div class="form-group">
      <%= f.label :phone_number, "Numéro de téléphone de l'invité en format international" %>
      <%= f.telephone_field :phone_number, class: "form-control", required: true %>
    </div>
    <%= f.submit "Envoyer l'invitation", class: "btn btn-primary" %>
  <% end %>

  <h2>Invités</h2>
  <ul>
    <% @event.event_registered_users.where(status: ["En attente", "Accepté"]).each do |registration| %>
      <li>
        <strong><%= registration.user.first_name %></strong>
        <% if registration.user == current_user && registration.status == "En attente" %>
          <%= button_to "Accepter", accept_event_registered_user_path(registration), method: :patch, class: "btn btn-success" %>
          <%= button_to "Refuser", decline_event_registered_user_path(registration), method: :patch, class: "btn btn-danger" %>
        <% end %>
      </li>
    <% end %>
  </ul>


  <h2>Dates proposées</h2>
  <% if @event.event_dates.any? %>
    <ul>
      <% @event.event_dates.each do |event_date| %>
        <li>
          <p><strong>Date :</strong> <%= l(event_date.proposed_date, format: :long) %></p>
      <%= turbo_stream_from "event_dates_#{event_date.id}_votes" %>
   <div id="vote_<%= event_date.id %>">
    <%= render "vote", event_date: event_date %>
  </div>


          <% if event_date.votes.where(user: current_user).empty? %>
            <%= button_to "Voter pour cette date", votes_path(event_date_id: event_date.id),
                          turbo_method: :post,
                          class: "btn btn-primary" %>
          <% else %>
            <p class="text-success">Vous avez déjà voté pour cette date.</p>
          <% end %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>Aucune date n'a été proposée pour cet événement.</p>
  <% end %>


  <% if @event.album.present? %>
    <h2>Album de l'évènement</h2>
    <%= link_to "Voir l'Album", event_album_path(@event, @event.album), class: 'btn btn-primary' %>
  <% else %>
    <p>Aucun album n'a été créé pour cet évènement.</p>
  <% end %>


  <% if @event.jackpot %>
    <h2>Cagnotte</h2>
    <p>L'organisateur se charge des courses, bande de fainéant 🦥</p>
    <p><strong>Montant demandé par personne :</strong> <%= @event.jackpot.amount_per_person %> €</p>
    <p><strong>Total attendu :</strong> <%= @event.jackpot.amount_per_person * @event.jackpot.total_invitees %> €</p>
    <p><strong>Montant collecté :</strong> <%= @event.jackpot.total %> €</p>
    <p><%= link_to 'Voir les participants', event_jackpot_path(@event, @event.jackpot), class: "btn btn-primary" %></p>

    <% if @event.jackpot %>
      <p>
        <%= link_to "Tu as payé ?", monney_creation_path(@event.jackpot),
                    data: { turbo_method: :post, turbo_confirm: "Envoie la preuve ! Mito" },
                    class: 'btn btn-primary',
                    disabled: true %>
      </p>
    <% end %>
  <% else %>
    <h2>Votre liste de courses</h2>
      <%= turbo_frame_tag "items_frame" do %>
        <% if @event.items.present? %>
          <%= render partial: "items/list", locals: { items: @event.items } %>
        <% else %>
          <%= turbo_frame_tag "item_form" do %>
            <%= link_to "Ajouter un item", new_event_item_path(@event),
                        class: "btn btn-primary",
                        data: { turbo_frame: "item_form" } %>
          <% end %>
        <% end %>
      <% end %>
  <% end %>

  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-marker-value="<%= @marker.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>

</div>
