<div class="container mt-5" >
  <% if @event.items.present?%>
    <table class="table table-hover align-middle" id="items">
      <thead>
        <tr>
          <th class="col">CONTENT</th>
          <th class="col">USER</th>
          <th class="col">SUPPRIMER</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        <% items.each do |item| %>
          <tr id="item_<%= item.id %>">
            <td><%= item.content %></td>
            <td><%= item.user.first_name %></td>
            <td>
              <%= link_to "Supprimer", event_item_path(@event, item), 
                          data: { turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cet item ?" }, 
                          class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= simple_form_for [@event, @event.items.new], remote: true, html: { class: "d-flex", data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |form| %>
      <div class="form-group">
        <%= form.input :content, label: false, placeholder: "Tu amènes quoi le sang ?", wrapper_html: { class: "flex-grow-1" } %>
      </div>
      <%= form.submit "Ajouter l'item", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <p>L'organisateur se charge des courses !!!! Remerciez-le bande de Rats 🐀</p>
  <% end %>
</div>